:root {
    --primary-bg-color-light: #f2f2f2;
    --header-bg-color: #d55845;
    --section-bg-color: #e4e6eb;
    --header-text-color: #fff;
    --header-text-mobile-color: rgb(15, 11, 11);
    --body-bg-color: #f3e0d7;
    --sidebar-bg-color: #eee;
    --content-bg-color: #fff;
    --footer-bg-color: #333;
    --button-icon-bg-color: rgb(111, 106, 106);
    --link-color: #007bff;
    --text-light: #919090;
    --success: #7ad69c;
    --danger: #d55845;
    --primary: #69a2f3;
    --border-color-section: #ddd;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark-theme body {
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Основні стилі для заголовка та навігаційного меню */
.ar-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-bg-color);
    height: 60px;
    color: var(--header-text-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.ar-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------- */
.ar-px {
    margin-top: 60px;
}

.ar-px img {
    max-width: 100%; /* Ця властивість забезпечить, що ширина картинки не перевищує ширину батьківського елемента */
    height: auto; /* Це дозволить зберігати пропорції картинки */
}

a {
    text-decoration: none;
    color: #c84c39;
}

.ar-px a:hover {
    color: #be8b87;
}

.ar-header h1 {
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.ar-px h2 {
    font-size: 20px;
}

.ar-px .text-light,
.ar-px-galery .text-light {
    color: var(--text-light) !important;
}

.bold {
    font-weight: bold;
}

.ar-px .border-block-end,
.ar-px-profile .border-block-end {
    border-block-end: 2px solid black;
}
.bg-danger-bottom {
    border-bottom: 5px solid var(--header-bg-color);
}
.color-danger {
    color: var(--danger);
}

.color-orange {
    color: orange;
}

.color-yellow {
    color: yellow;
}

.color-white {
    color: white;
}

.ar-px input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: var(--success);
    border-color: var(--success);
}

.btn-danger {
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}
.icon-30 {
    font-size: 30px;
}
/* Основні стилі для мобільного меню (по замовчуванню приховані) */
#mobile-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

#mobile-menu-button {
    background-color: transparent;
    color: var(--header-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

/* Основні стилі для навігаційного меню */
nav.menu ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    margin-right: 20px;
    margin-bottom: 5px; /* Відступ між іконкою та текстом */
}

nav.menu ul li:last-child {
    margin-right: 0;
}

nav.menu ul li a {
    text-decoration: none;
    color: var(--header-text-color);
    font-weight: bold;
    transition: color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav.menu ul li a:hover {
    color: var(--link-color);
}

/* Основні стилі для кнопки зміни теми */
#theme-toggle {
    background-color: transparent;
    color: var(--header-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#theme-toggle:hover {
    color: var(--link-color);
}

main {
    flex: 1;
    padding: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: 25% 60% 25%;
    gap: 10px;
}

.circle {
    border-radius: 50%;
    border: solid 4px var(--content-bg-color);
    background-color: var(--body-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Flex */

.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.right-top {
    align-self: flex-start;
    margin-left: auto;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
/* Вирівнюємо вправо по горизонталі */

.justify-content-right {
    justify-content: flex-end;
}

.left {
    flex: 1; /* Займає доступний простір по ліву сторону */
    text-align: left;
}

.right {
    flex: 1; /* Займає доступний простір по праву сторону */
    text-align: right;
    display: flex;
    justify-content: flex-end; /* Розмістити блоки справа в один рядок */
}

/*  */

.left-sidebar > div {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    padding: 10px;
}

.left-sidebar .section_1 {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    height: 420px; /* Фіксована висота 40% */
}

.left-sidebar .section_1 .header {
    margin: -10px -10px 10px -10px;
    display: flex;
    justify-content: center;
    background-color: var(--header-bg-color);
    height: 90px;
}

.left-sidebar .section_1 .border-block-end,
.right-sidebar .section_1 .border-block-end,
.right-sidebar .section_2 .border-block-end,
.right-sidebar .section_3 .border-block-end {
    width: calc(100% + 20px);
    border-color: var(--body-bg-color);
    margin-bottom: 10px;
}

.left-sidebar .section_1 .header .circle {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    display: flex;
}

.left-sidebar .section_1 .centered-container {
    margin-top: 40px;
}

/*left-sidebar section_2 */

.left-sidebar .section_2 {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 10px;
    height: auto;
}

.left-sidebar .section_2 .border-block-end {
    width: calc(100% + 20px);
    border-color: var(--body-bg-color);
    margin-bottom: 10px;
}

.item_left_sidebar_section_2 {
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    margin: 10px;
}

.item_left_sidebar_section_2 p {
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.item_left_sidebar_section_2 .circle {
    width: 40px;
    height: 40px;
}

.header-card {
    height: 40px;
}

button.button-icon {
    background: none;
    border: none;
    color: var(--button-icon-bg-color);
    padding-block: 0px;
    padding-inline: 0px;
    line-height: normal;
}

/* content */
.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Content */
.content {
}
/* Content section say */
.content .section_say {
    background-color: var(--content-bg-color);
    border: 1px solid var(--border-color-section);
    padding: 13px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 5fr 4fr;
    border-top: 5px solid var(--header-bg-color);
}

.content .section_say input {
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.content .section_say .post_message {
    height: 60px;
    margin-left: 12px;
}
.content .section_say .post_message .btn {
    margin: 2px;
    padding: 5px;
    font-size: 14px;
}
.content .section_say .circle {
    width: 60px;
    height: 60px;
}

.content .posts {
    display: flex;
    flex-direction: column;
    height: 90%;
    /* overflow: auto;      */
}

/* Основні стилі для картки посту */
.content .posts .post {
    max-width: 100%;
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.content .posts .post img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

.content .posts .post .post-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    margin: 10px;
}

.content .posts .post .post-header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 10px;
}

.content .posts .post .post-header p {
    font-size: 16px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.content .posts .post .post-header .circle {
    width: 60px;
    height: 60px;
}

/* Стилі для контенту посту */
.content .posts .post .post-content {
    margin-top: 10px;
    font-size: 1.1em;
}

.content .posts .post .post-actions {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.post-actions .like-count,
.post-actions .comment-count,
.post-actions .share-count {
    margin: 0;
}

.post-actions .like-count::before {
    content: "\1F44D"; /* Іконка палець вгору */
    margin-right: 5px;
}

.post-actions .comment-count::before {
    content: "\1F4AC"; /* Іконка коментаря */
    margin-right: 5px;
}

.content .share-count::before {
    content: "\2713"; /* Символ "поділитись" */
    margin-left: 5px;
}

/* post footer */
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--header-text-color);
    font-size: 14px;
}

/* Стилі для кнопок подобається, коментувати та поділитись */
.post-footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.post-footer div {
    margin-right: 20px;
}

.post-footer div:last-child {
    margin-right: 0;
}

/* carousel user */
.carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    background-color: var(--content-bg-color);
}

.user-card {
    flex: 0 0 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.user-card img {
    max-width: 100%;
    border-radius: 50%;
}

.add-friend-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Стилі для секції коментарів */
.comments {
    margin-top: 20px;
    display: none;
}

.comment {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-info h3 {
    font-size: 1em;
    margin: 0;
}

.comment-info p {
    color: #888;
    margin: 0;
}

.comment-text {
    margin-top: 5px;
}

/* Right sidebar Стилі для секцій у правому сайдбарі */
.right-sidebar > div {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    padding: 10px;
}

.right-sidebar .section_1 {
    height: 200px;
}
.right-sidebar .section_1 .header {
    height: 50px;
}
.right-sidebar .section_1 .header img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.right-sidebar .section_2 {
    height: 300px;
}

.item_right_sidebar_section_2 {
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    margin: 10px;
}

.item_right_sidebar_section_2 p {
    font-size: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.right-sidebar .section_3 {
    height: 300px;
}

.right-sidebar .section_1,
.right-sidebar .section_2,
.right-sidebar .section_3 {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

/* footer */

footer {
    background-color: var(--footer-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 10px 0;
    z-index: 999;
}

.dark-theme {
    --primary-bg-color-light: #333;
    --header-bg-color: #444;
    --sidebar-bg-color: #555;
    --content-bg-color: #444;
    --footer-bg-color: #222;
    --content-bg-color: #555;
    --body-bg-color: #555;
    --link-color: #007bff;
    --button-icon-bg-color: #ccc;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.input-group-text.search {
    background-color: var(--primary-bg-color-light);
    border: solid var(--primary-bg-color-light);
}

/* ------ */

.fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}

.fixed-bottom-right {
    width: 120px;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 9999;
}

.note-count {
    position: relative;
    margin-bottom: 20px;
}

.note-count img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.note-count .circle {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.notification-badge {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position: absolute;
    top: -4px;
    left: 29px;
}

.hashtag {
    display: inline-block;
    padding: 4px;
    border: 1px solid #999999;
    border-radius: 10px;
    color: #b9c0c7;
    text-decoration: none;
    margin: 1px;
}

.hashtag:hover,
.button-tag:hover {
    cursor: pointer;
    /* text-decoration: underline;   */
}

.button-tag {
    border-radius: 5px;
    background-color: var(--section-bg-color);
    padding: 10px;
    margin: 9px;
    height: 40px;
}

/* ------Bootstrap None-------- */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

input:focus-visible {
    outline-offset: 0px;
}

/* input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
} */

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}
/*  */
@media screen and (max-width: 1200px) {
    /* Якщо екран ширший або рівний 768px */
    .grid {
        grid-template-columns: 15% 70% 15%;
        gap: 10px;
    }
    .left-sidebar {
    }
    .content {
    }
    .right-sidebar {
    }
}

/* Використання адаптивних медіа-запитів для зміни кількості блоків в ряду */
@media screen and (max-width: 768px) {
    /* Якщо екран ширший або рівний 768px */
    .grid {
        grid-template-columns: 100%;
        gap: 10px;
    }
    .ar-header {
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        text-align: center;
        padding: 10px 0;
        position: relative; /* Додайте позицію relative для батьківського контейнера */
    }

    #mobile-menu-button {
        position: absolute; /* Розмістіть кнопку в абсолютному положенні */
        top: 10px; /* Задайте відстань від верхнього краю */
        right: 10px; /* Задайте відстань від правого краю */
    }
    #mobile-menu {
        display: flex;
    }

    .menu.open ul {
        display: block;
        background-color: #fff;
        position: absolute;
        width: 100%;
        top: 60px; /* Встановіть відстань від верхнього краю, яка вам підходить */
        left: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        display: none; /* Приховати основне меню на мобільних пристроях */
    }

    nav ul li a {
        color: var(--header-text-mobile-color);
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--header-bg-color);
        z-index: 1;
    }

    nav ul.active li {
        text-align: right;
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul.active li:last-child {
        margin-bottom: 0;
    }

    #mobile-menu-button {
        display: block;
    }

    .left-sidebar {
    }
    .content {
    }
    .right-sidebar {
    }
}
