:root {
    --primary-bg-color-light: #f2f2f2;
    --header-bg-color: #d55845;
    --header-text-color: #fff;
    --header-text-mobile-color: rgb(15, 11, 11);
    --sidebar-bg-color: #eee;
    --content-bg-color: #fff;
    --footer-bg-color: #333;
    --link-color: #007bff;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color-light);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark-theme body {
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Основні стилі для заголовка та навігаційного меню */
.ar-header {
    background-color: var(--header-bg-color);
    height: 60px;
    color: var(--header-text-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ar-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Основні стилі для заголовка */
.ar-header h1 {
    margin: 0;
}

/* Основні стилі для мобільного меню (по замовчуванню приховані) */
#mobile-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

#mobile-menu-button {
    background-color: transparent;
    color: var(--header-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

/* Основні стилі для навігаційного меню */
nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    margin-bottom: 5px; /* Відступ між іконкою та текстом */
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--header-text-color);
    font-weight: bold;
    transition: color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav ul li a:hover {
    color: var(--link-color);
}

/* Основні стилі для кнопки зміни теми */
#theme-toggle {
    background-color: transparent;
    color: var(--header-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#theme-toggle:hover {
    color: var(--link-color);
}

main {
    flex: 1;
    padding: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: 25% 60% 25%;
    gap: 10px;
}

.left-sidebar > div {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    padding: 10px;
}

.left-sidebar .section_1 {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    height: 40%; /* Фіксована висота 40% */
}

.left-sidebar .section_1 .header {
    margin: -10px -10px 10px -10px;
    display: flex;
    justify-content: center;
}

.section_1 .header .circle {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    display: flex;
}

.circle {
    border-radius: 50%;
    border: solid 4px #ccc;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle img {
    max-height: 100%;
    border-radius: 50%;
}

.left-sidebar .section_2 {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 10px;
    height: 50%; /* Фіксована висота 60% */
}

/* content */
.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.content {
}

.content .section_say {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.content .posts {
    display: flex;
    flex-direction: column;
    height: 90%; /* Встановіть бажану висоту */
    overflow: auto; /* Включіть прокрутку, якщо контент виходить за межі блоку */
}

/* Стилі для секцій у правому сайдбарі */
.right-sidebar > div {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    padding: 10px;
}

.right-sidebar .section_1,
.right-sidebar .section_2,
.right-sidebar .section_3 {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

/* Основні стилі для картки посту */
.post {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

/* Стилі для аватара користувача */
.post-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Стилі для інформації про користувача та часу публікації */
.user-info h2 {
    font-size: 1.2em;
    margin: 0;
}

.user-info p {
    color: #888;
    margin: 0;
}

/* Стилі для контенту посту */
.post-content {
    margin-top: 10px;
    font-size: 1.1em;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--footer-bg-color); /* Застосуйте вашу змінну для футера */
    color: var(--header-text-color); /* Застосуйте вашу змінну для тексту */
    font-size: 14px;
}

.post-actions .left {
    flex: 1; /* Займає доступний простір по ліву сторону */
    text-align: left;
}

.post-actions .right {
    flex: 1; /* Займає доступний простір по праву сторону */
    text-align: right;
    display: flex;
    justify-content: flex-end; /* Розмістити блоки справа в один рядок */
}

.post-actions .like-count,
.post-actions .comment-count,
.post-actions .share-count {
    margin: 0;
}

.post-actions .like-count::before {
    content: "\1F44D"; /* Іконка палець вгору */
    margin-right: 5px;
}

.post-actions .comment-count::before {
    content: "\1F4AC"; /* Іконка коментаря */
    margin-right: 5px;
}

.content .share-count::before {
    content: "\2713"; /* Символ "поділитись" */
    margin-left: 5px;
}

/* post footer */
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--footer-bg-color); /* Застосуйте вашу змінну для футера */
    color: var(--header-text-color); /* Застосуйте вашу змінну для тексту */
    font-size: 14px;
}

/* Стилі для кнопок подобається, коментувати та поділитись */
.post-footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.post-footer div {
    margin-right: 20px;
}

.post-footer div:last-child {
    margin-right: 0;
}

/* carousel user */
.carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    background-color: var(--content-bg-color);
}

.user-card {
    flex: 0 0 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.user-card img {
    max-width: 100%;
    border-radius: 50%;
}

.add-friend-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Стилі для секції коментарів */
.comments {
    margin-top: 20px;
    display: none;
}

.comment {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-info h3 {
    font-size: 1em;
    margin: 0;
}

.comment-info p {
    color: #888;
    margin: 0;
}

.comment-text {
    margin-top: 5px;
}

/* Додаткові стилі за потреби */

footer {
    background-color: var(--footer-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 10px 0;
}

.dark-theme {
    --primary-bg-color-light: #333;
    --header-bg-color: #444;
    --sidebar-bg-color: #555;
    --content-bg-color: #444;
    --footer-bg-color: #222;
    --link-color: #007bff;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.input-group-text.search {
    background-color: var(--primary-bg-color-light);
    border: solid var(--primary-bg-color-light);
}

.section_1 .header {
    background-color: var(--header-bg-color);
    height: 120px;
}

@media screen and (max-width: 1200px) {
    /* Якщо екран ширший або рівний 768px */
    .grid {
        grid-template-columns: 15% 70% 15%;
        gap: 10px;
    }
    .left-sidebar {
    }
    .content {
    }
    .right-sidebar {
    }
}

/* Використання адаптивних медіа-запитів для зміни кількості блоків в ряду */
@media screen and (max-width: 768px) {
    /* Якщо екран ширший або рівний 768px */
    .grid {
        grid-template-columns: 100%;
        gap: 10px;
    }
    .ar-header {
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        text-align: center;
        padding: 10px 0;
        position: relative; /* Додайте позицію relative для батьківського контейнера */
    }

    #mobile-menu-button {
        position: absolute; /* Розмістіть кнопку в абсолютному положенні */
        top: 10px; /* Задайте відстань від верхнього краю */
        right: 10px; /* Задайте відстань від правого краю */
    }
    #mobile-menu {
        display: flex;
    }

    .menu.open ul {
        display: block;
        background-color: #fff;
        position: absolute;
        width: 100%;
        top: 60px; /* Встановіть відстань від верхнього краю, яка вам підходить */
        left: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        display: none; /* Приховати основне меню на мобільних пристроях */
    }

    nav ul li a {
        color: var(--header-text-mobile-color);
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--header-bg-color);
        z-index: 1;
    }

    nav ul.active li {
        text-align: right;
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul.active li:last-child {
        margin-bottom: 0;
    }

    #mobile-menu-button {
        display: block;
    }

    .left-sidebar {
    }
    .content {
    }
    .right-sidebar {
    }
}
