/* ------------- */
/* .ar-px-profile {
    margin-top: 60px !important;
} */

.ar-px-profile .grid {
    display: grid;
    grid-template-columns: 50% 60%;
    gap: 10px;
    justify-content: center;
}

.ar-px-profile .sidebar .about {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ar-px-profile .about,
.ar-px-profile .images,
.ar-px-profile .frends,
.ar-px-profile .profile-posts {
    padding: 20px;
    border: 1px solid var(--border-color-section);
    /* border-radius: 5px; */
    background-color: var(--content-bg-color);
    margin-bottom: 12px;
    box-shadow: 1px 2px 2px var(--section-bg-color);
} 

.ar-px-profile .about .section {
    border-radius: 5px;
    background-color: var(--section-bg-color);
    padding: 10px;
    margin: 9px 0;
    width: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    /* height: 40px; */
} 

.ar-px-profile .frends .header p {
    color: var(--text-light);
}

.ar-px-profile .frends .section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    margin: 10px;
    justify-items: center
}

.ar-px-profile .frends .section .profile-user-card {
    overflow: hidden;
    width: 145px;
    /* height: 150px; */
}


.ar-px-profile .frends .section .profile-user-card img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

.ar-px-profile .profile-posts { 
    max-height: 200px;
} 

.ar-px-profile .border-block-end {
   
    border-color: var(--section-bg-color);     
    margin: 10px -20px;
}
